h1 {
    padding-top: 10px;
    text-align: center;
}

div {
    text-align: left;
}

html {
    background-color: #b9dde6;
}

#faultyItems {
    visibility: hidden;   
}

#missionTarget {
    background-color: #85b2bd;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding-bottom: 11px;
    border-radius: 25px;
}

li {
    list-style-type: none
}

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
    border-radius: 25px;
    border: 3px solid black;
}

#launchForm {
    background-color: #85b2bd;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
}

button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}

#launchStatusCheck {
    background-color: #85b2bd;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
}





